In [1]:
#import kütüphane
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

from sklearn.impute import SimpleImputer
from sklearn import preprocessing

In [2]:
df=pd.read_csv("kidney_disease.csv") #Veriseti yükleme
df.drop("id",axis=1,inplace=True) #id sütununu sildim

In [4]:
df.shape #kaç satır ve sütundan oluştuğunu göster
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             330 non-null    object
 16  wc              295 non-null    object
 17  rc              270 non-null    object
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB

In [5]:
df.columns #verilerin adlarını göster

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [6]:
df.describe()
#describe numerik değerlerin temel istatistik özellikleri analiz edilir
#count = veri sayısı
#mean = ortalama değeri
#std = standart sapma
#min = verilerin en düşük değeri
#25 = ilk çeyrekteki medyan(ortanca) değeri
#50 = tüm verideki medyan(ortanca) değeri
#75 = son çeyrekteki medyan(ortanca) değeri
#max = verilerin en yüksek değeri

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             330 non-null    object
 16  wc              295 non-null    object
 17  rc              270 non-null    object
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB

In [8]:
for column in df.columns:
    unique_values = df[column].unique()  # Sütunun benzersiz değerlerini al
    print(f"Sütun: {column}")
    print(f"Değerler: {unique_values}")
    print("-" * 30)  # Ayırıcı çizgi

Sütun: age
Değerler: [48.  7. 62. 51. 60. 68. 24. 52. 53. 50. 63. 40. 47. 61. 21. 42. 75. 69.
 nan 73. 70. 65. 76. 72. 82. 46. 45. 35. 54. 11. 59. 67. 15. 55. 44. 26.
 64. 56.  5. 74. 38. 58. 71. 34. 17. 12. 43. 41. 57.  8. 39. 66. 81. 14.
 27. 83. 30.  4.  3.  6. 32. 80. 49. 90. 78. 19.  2. 33. 36. 37. 23. 25.
 20. 29. 28. 22. 79.]
------------------------------
Sütun: bp
Değerler: [ 80.  50.  70.  90.  nan 100.  60. 110. 140. 180. 120.]
------------------------------
Sütun: sg
Değerler: [1.02  1.01  1.005 1.015   nan 1.025]
------------------------------
Sütun: al
Değerler: [ 1.  4.  2.  3.  0. nan  5.]
------------------------------
Sütun: su
Değerler: [ 0.  3.  4.  1. nan  2.  5.]
------------------------------
Sütun: rbc
Değerler: [nan 'normal' 'abnormal']
------------------------------
Sütun: pc
Değerler: ['normal' 'abnormal' nan]
------------------------------
Sütun: pcc
Değerler: ['notpresent' 'present' nan]
------------------------------
Sütun: ba
Değerler: ['notpresent' 'present' nan]
------------------------------
Sütun: bgr
Değerler: [121.  nan 423. 117. 106.  74. 100. 410. 138.  70. 490. 380. 208.  98.
 157.  76.  99. 114. 263. 173.  95. 108. 156. 264. 123.  93. 107. 159.
 140. 171. 270.  92. 137. 204.  79. 207. 124. 144.  91. 162. 246. 253.
 141. 182.  86. 150. 146. 425. 112. 250. 360. 163. 129. 133. 102. 158.
 165. 132. 104. 127. 415. 169. 251. 109. 280. 210. 219. 295.  94. 172.
 101. 298. 153.  88. 226. 143. 115.  89. 297. 233. 294. 323. 125.  90.
 308. 118. 224. 128. 122. 214. 213. 268. 256.  84. 105. 288. 139.  78.
 273. 242. 424. 303. 148. 160. 192. 307. 220. 447. 309.  22. 111. 261.
 215. 234. 131. 352.  80. 239. 110. 130. 184. 252. 113. 230. 341. 255.
 103. 238. 248. 120. 241. 269. 201. 203. 463. 176.  82. 119.  97.  96.
  81. 116. 134.  85.  83.  87.  75.]
------------------------------
Sütun: bu
Değerler: [ 36.   18.   53.   56.   26.   25.   54.   31.   60.  107.   55.   72.
  86.   90.  162.   46.   87.   27.  148.  180.  163.    nan  50.   75.
  45.   28.  155.   33.   39.  153.   29.   65.  103.   70.   80.   20.
 202.   77.   89.   24.   17.   32.  114.   66.   38.  164.  142.   96.
 391.   15.  111.   73.   19.   92.   35.   16.  139.   48.   85.   98.
 186.   37.   47.   52.   82.   51.  106.   22.  217.   88.  118.   50.1
  71.   34.   40.   21.  219.   30.  125.  166.   49.  208.  176.   68.
 145.  165.  322.   23.  235.  132.   76.   42.   44.   41.  113.    1.5
 146.   58.  133.  137.   67.  115.  223.   98.6 158.   94.   74.  150.
  61.   57.   95.  191.   93.  241.   64.   79.  215.  309.   10. ]
------------------------------
Sütun: sc
Değerler: [ 1.2   0.8   1.8   3.8   1.4   1.1  24.    1.9   7.2   4.    2.7   2.1
  4.6   4.1   9.6   2.2   5.2   1.3   1.6   3.9  76.    7.7    nan  2.4
  7.3   1.5   2.5   2.    3.4   0.7   1.   10.8   6.3   5.9   0.9   3.
  3.25  9.7   6.4   3.2  32.    0.6   6.1   3.3   6.7   8.5   2.8  15.
  2.9   1.7   3.6   5.6   6.5   4.4  10.2  11.5   0.5  12.2   5.3   9.2
 13.8  16.9   6.    7.1  18.    2.3  13.   48.1  14.2  16.4   2.6   7.5
  4.3  18.1  11.8   9.3   6.8  13.5  12.8  11.9  12.   13.4  15.2  13.3
  0.4 ]
------------------------------
Sütun: sod
Değerler: [  nan 111.  142.  104.  114.  131.  138.  135.  130.  141.  139.    4.5
 136.  129.  140.  132.  133.  134.  125.  163.  137.  128.  143.  127.
 146.  126.  122.  147.  124.  115.  145.  113.  120.  150.  144. ]
------------------------------
Sütun: pot
Değerler: [ nan  2.5  3.2  4.   3.7  4.2  5.8  3.4  6.4  4.9  4.1  4.3  5.2  3.8
  4.6  3.9  4.7  5.9  4.8  4.4  6.6 39.   5.5  5.   3.5  3.6  7.6  2.9
  4.5  5.7  5.4  5.3 47.   6.3  5.1  5.6  3.   2.8  2.7  6.5  3.3]
------------------------------
Sütun: hemo
Değerler: [15.4 11.3  9.6 11.2 11.6 12.2 12.4 10.8  9.5  9.4  9.7  9.8  5.6  7.6
 12.6 12.1 12.7 10.3  7.7 10.9  nan 11.1  9.9 12.5 12.9 10.1 12.  13.
  7.9  9.3 15.  10.   8.6 13.6 10.2 10.5  6.6 11.   7.5 15.6 15.2  4.8
  9.1  8.1 11.9 13.5  8.3  7.1 16.1 10.4  9.2  6.2 13.9 14.1  6.  11.8
 11.7 11.4 14.   8.2 13.2  6.1  8.  12.3  8.4 14.3  9.   8.7 10.6 13.1
 10.7  5.5  5.8  6.8  8.8  8.5 13.8 11.5  7.3 13.7 12.8 13.4  6.3  3.1
 17.  15.9 14.5 15.5 16.2 14.4 14.2 16.3 14.8 16.5 15.7 13.3 14.6 16.4
 16.9 16.  14.7 16.6 14.9 16.7 16.8 15.8 15.1 17.1 17.2 15.3 17.3 17.4
 17.7 17.8 17.5 17.6]
------------------------------
Sütun: pcv
Değerler: ['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' nan '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '\t?' '52' '14' '22' '18' '42' '17' '46' '23'
 '19' '25' '41' '26' '15' '21' '43' '20' '\t43' '47' '9' '49' '50' '53'
 '51' '54']
------------------------------
Sütun: wc
Değerler: ['7800' '6000' '7500' '6700' '7300' nan '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '\t6200' '7100' '11800' '9400' '5500' '5800'
 '13200' '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800'
 '6500' '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300'
 '12400' '\t8400' '10500' '4200' '4700' '10900' '8100' '9500' '2200'
 '12800' '11200' '19100' '\t?' '12300' '16700' '2600' '26400' '8800'
 '7400' '4900' '8000' '12000' '15700' '4100' '5700' '11500' '5400' '10800'
 '9900' '5200' '5900' '9300' '9700' '5100' '6600']
------------------------------
Sütun: rc
Değerler: ['5.2' nan '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '\t?' '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9'
 '6.5']
------------------------------
Sütun: htn
Değerler: ['yes' 'no' nan]
------------------------------
Sütun: dm
Değerler: ['yes' 'no' ' yes' '\tno' '\tyes' nan]
------------------------------
Sütun: cad
Değerler: ['no' 'yes' '\tno' nan]
------------------------------
Sütun: appet
Değerler: ['good' 'poor' nan]
------------------------------
Sütun: pe
Değerler: ['no' 'yes' nan]
------------------------------
Sütun: ane
Değerler: ['no' 'yes' nan]
------------------------------
Sütun: classification
Değerler: ['ckd' 'ckd\t' 'notckd']
------------------------------

In [9]:
df.replace({
'\tno': 'no', 
    '\tyes': 'yes', 
    ' yes': 'yes',
    '\t?': '',
    '\t6200':'6200',
    '\t43':'43',
    '\t8400':'8400',
    'ckd\t': 'ckd'
}, regex=True, inplace=True)
import pandas as pd

# Örnek veri setinizi yükleyin
# df = pd.read_csv('veri_seti.csv')

# İstenmeyen değerlerin listesi
undesired_values = ['\tyes', ' yes', '\t?', '\t6200', '\t43', '\t8400', 'ckd\t']

# Veri setinde her istenmeyen değerin varlığını kontrol etme
for value in undesired_values:
    contains_value = (df == value).any().any()  # Veri setindeki her hücrede bu değerin olup olmadığını kontrol et
    if contains_value:
        print(f"Veri setinde {repr(value)} değeri bulundu.")
    else:
        print(f"Veri setinde {repr(value)} değeri bulunmamaktadır.")

Veri setinde '\tyes' değeri bulunmamaktadır.
Veri setinde ' yes' değeri bulunmamaktadır.
Veri setinde '\t?' değeri bulunmamaktadır.
Veri setinde '\t6200' değeri bulunmamaktadır.
Veri setinde '\t43' değeri bulunmamaktadır.
Veri setinde '\t8400' değeri bulunmamaktadır.
Veri setinde 'ckd\t' değeri bulunmamaktadır.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             330 non-null    object
 16  wc              295 non-null    object
 17  rc              270 non-null    object
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB

In [22]:
df.isna().sum()#kaç adet kayıp veri var

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

# Sayısal Değerlerin Eksik Verilerini Doldurma

In [28]:
# Tüm sütunlar için max, min, unique sayısını yazdırma
for col in df.columns:
    if df[col].dtype != 'object':  # Sadece sayısal sütunları kontrol et
        max_val = df[col].max()  # En büyük değer
        min_val = df[col].min()  # En küçük değer
        unique_vals = df[col].nunique()  # Benzersiz değer sayısı
        
        print(f"Column: {col}")
        print(f"Unique: {unique_vals}")
        print(f"Max: {max_val}")
        print(f"Min: {min_val}")
        print("-" * 30)

Column: age
Unique: 76
Max: 90.0
Min: 2.0
------------------------------
Column: bp
Unique: 10
Max: 180.0
Min: 50.0
------------------------------
Column: sg
Unique: 5
Max: 1.025
Min: 1.005
------------------------------
Column: al
Unique: 6
Max: 5.0
Min: 0.0
------------------------------
Column: su
Unique: 6
Max: 5.0
Min: 0.0
------------------------------
Column: bgr
Unique: 146
Max: 490.0
Min: 22.0
------------------------------
Column: bu
Unique: 118
Max: 391.0
Min: 1.5
------------------------------
Column: sc
Unique: 84
Max: 76.0
Min: 0.4
------------------------------
Column: sod
Unique: 34
Max: 163.0
Min: 4.5
------------------------------
Column: pot
Unique: 40
Max: 47.0
Min: 2.5
------------------------------
Column: hemo
Unique: 115
Max: 17.8
Min: 3.1
------------------------------

In [29]:
median_age = df['age'].median()  # Yaşın medyanını hesapla

# Eksik verileri medyan değeriyle doldur
df['age'].fillna(median_age, inplace=True)

# Sonucu kontrol et
print(df['age'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [31]:
bp_mean = df['bp'].mean()  # 'bp' sütununun ortalamasını alıyoruz

# 'bp' sütunundaki eksik verileri ortalama ile dolduruyoruz
df['bp'].fillna(bp_mean, inplace=True)

print(df['bp'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [32]:
sg_mean = df['sg'].mean()  # 'bp' sütununun ortalamasını alıyoruz

# 'bp' sütunundaki eksik verileri ortalama ile dolduruyoruz
df['sg'].fillna(sg_mean, inplace=True)

print(df['sg'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [33]:
al_mean = df['al'].mean()  # 'bp' sütununun ortalamasını alıyoruz

# 'bp' sütunundaki eksik verileri ortalama ile dolduruyoruz
df['al'].fillna(al_mean, inplace=True)

print(df['al'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [34]:
su_mean = df['su'].mean()  # 'bp' sütununun ortalamasını alıyoruz

# 'bp' sütunundaki eksik verileri ortalama ile dolduruyoruz
df['su'].fillna(su_mean, inplace=True)

print(df['su'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [35]:

median_bgr = df['bgr'].median()  # Yaşın medyanını hesapla

# Eksik verileri medyan değeriyle doldur
df['bgr'].fillna(median_bgr, inplace=True)

# Sonucu kontrol et
print(df['bgr'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [36]:
median_bu = df['bu'].median()  # Yaşın medyanını hesapla

# Eksik verileri medyan değeriyle doldur
df['bu'].fillna(median_bu, inplace=True)

# Sonucu kontrol et
print(df['bu'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [37]:
median_sc = df['sc'].median()  # Yaşın medyanını hesapla

# Eksik verileri medyan değeriyle doldur
df['sc'].fillna(median_sc, inplace=True)

# Sonucu kontrol et
print(df['sc'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [38]:
median_sod = df['sod'].median()  # Yaşın medyanını hesapla

# Eksik verileri medyan değeriyle doldur
df['sod'].fillna(median_sod, inplace=True)

# Sonucu kontrol et
print(df['sod'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [39]:
pot_mean = df['pot'].mean()  # 'bp' sütununun ortalamasını alıyoruz

# 'bp' sütunundaki eksik verileri ortalama ile dolduruyoruz
df['pot'].fillna(pot_mean, inplace=True)

print(df['pot'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0

In [41]:
# 'hemo' sütunundaki eksik verileri medyan ile doldur
median_hemo = df['hemo'].median()
df['hemo'] = df['hemo'].fillna(median_hemo)

# Sonucu kontrol et
print(df['hemo'].isnull().sum())  # Eksik veri olup olmadığını kontrol et

0